@import "commonfile";

.why-choose-this {
  margin-top: 100px;
  @media screen and (max-width: 567px) {
    margin-top: 50px;
  }
  h2 {
    @include h2tag;
    &::before {
      content: "";
      position: absolute;
      width: 130px;
      height: 50px;
      border-radius: 40px;
      background-color: #f9dfea;
      left: 44%;
      top: -8%;
      z-index: -1;
      transform: rotate(150deg);

      @media screen and (max-width: 567px) {
        width: 110px;
        height: 46px;
        left: 32%;
        top: -18%;
      }
      @media screen and (min-width: 600px) and (max-width: 993px) {
        width: 110px;
        height: 46px;
        left: 41%;
        top: -18%;
      }
    }
  }
  p {
    @include p1tag;
    width: 50%;
    margin: 40px auto;
    @media screen and (max-width: 567px) {
      width: 100%;
    }
    @media screen and (min-width: 600px) and (max-width: 993px) {
      width: 100%;
    }
  }
  .whychoose-box {
    background-color: #ffffff;
    padding: 85px 35px 85px 35px;
    text-align: $textcenter;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
    @media screen and (min-width:600px) and (max-width:993px) {
      height: 430px;
    }
    .whychoose-boxicon {
      width: 40%;
      @media screen and (max-width: 567px) {
        width: 50%;
      }
      @media screen and (min-width: 600px) and (max-width: 993px) {
        width: 75%;
      }
    }
    h3 {
      @include p1tag($p1color: #3d486a);
      font-weight: 700;
      margin-top: $margin + 20;
    }
    p {
      @include p2tag;
      width: 100%;
      margin: 16px auto;
    }
  }
}

.config {
  position: relative;
  background: #f8fbff;
  margin-top: 80px;
  @media screen and (max-width: 567px) {
    margin-top: 60px;
  }
  .config-shape {
    position: absolute;
    width: 88%;
    height: 100%;

    @media screen and (max-width: 567px) {
      width: 100%;
    }

    svg {
      background: linear-gradient(to right, #e3e8ff, #f2f6ff);
      width: 46%;
      @media screen and (max-width: 567px) {
        width: 100%;
      }
    }
    path {
      fill: #f8fbff;
    }
  }

  img {
    width: 85%;
    @media screen and (max-width: 567px) {
      width: 100%;
    }
  }
  .margin-unlimited {
    margin-top: 200px;
    @media screen and (max-width: 567px) {
      margin-top: 0px;
    }
  }
  h2 {
    @include h2tag;
  }
  p {
    @include p1tag;
  }
  a {
    color: #ff5e8d;
    text-decoration: none;
    font-size: $common-fontsize - 5;
    border-bottom: 1px solid #ff5e8d;
  }
  a:hover {
    text-decoration: none;
    color: #ff5e8d;
  }
}

// .more-feature {
//     padding: 200px 0px 0px 0px;
//     -webkit-clip-path: ellipse(54% 50% at 51% 100%);
//     clip-path: ellipse(54% 50% at 51% 100%);
//     background: linear-gradient(to bottom, #a1a7c5, #b8c6e4, #f8fbff);
// }
