.why-choose-this {
  margin-top: 100px;
}

@media screen and (max-width: 567px) {
  .why-choose-this {
    margin-top: 50px;
  }
}

.why-choose-this h2 {
  font-size: 36px;
  color: #3d486a;
  font-weight: 600;
}

.why-choose-this h2::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 50px;
  border-radius: 40px;
  background-color: #f9dfea;
  left: 44%;
  top: -8%;
  z-index: -1;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

@media screen and (max-width: 567px) {
  .why-choose-this h2::before {
    width: 110px;
    height: 46px;
    left: 32%;
    top: -18%;
  }
}

@media screen and (min-width: 600px) and (max-width: 993px) {
  .why-choose-this h2::before {
    width: 110px;
    height: 46px;
    left: 41%;
    top: -18%;
  }
}

.why-choose-this p {
  font-size: 20px;
  color: #6f7c8a;
  width: 50%;
  margin: 40px auto;
}

@media screen and (max-width: 567px) {
  .why-choose-this p {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 993px) {
  .why-choose-this p {
    width: 100%;
  }
}

.why-choose-this .whychoose-box {
  background-color: #ffffff;
  padding: 85px 35px 85px 35px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 6px 1px #e6e6e6;
          box-shadow: 0px 0px 6px 1px #e6e6e6;
}

@media screen and (min-width: 600px) and (max-width: 993px) {
  .why-choose-this .whychoose-box {
    height: 430px;
  }
}

.why-choose-this .whychoose-box .whychoose-boxicon {
  width: 40%;
}

@media screen and (max-width: 567px) {
  .why-choose-this .whychoose-box .whychoose-boxicon {
    width: 50%;
  }
}

@media screen and (min-width: 600px) and (max-width: 993px) {
  .why-choose-this .whychoose-box .whychoose-boxicon {
    width: 75%;
  }
}

.why-choose-this .whychoose-box h3 {
  font-size: 20px;
  color: #3d486a;
  font-weight: 700;
  margin-top: 20px;
}

.why-choose-this .whychoose-box p {
  font-size: 16px;
  color: #6f7c8a;
  font-size: 16px;
  line-height: 28px;
  width: 100%;
  margin: 16px auto;
}

.config {
  position: relative;
  background: #f8fbff;
  margin-top: 80px;
}

@media screen and (max-width: 567px) {
  .config {
    margin-top: 60px;
  }
}

.config .config-shape {
  position: absolute;
  width: 88%;
  height: 100%;
}

@media screen and (max-width: 567px) {
  .config .config-shape {
    width: 100%;
  }
}

.config .config-shape svg {
  background: -webkit-gradient(linear, left top, right top, from(#e3e8ff), to(#f2f6ff));
  background: linear-gradient(to right, #e3e8ff, #f2f6ff);
  width: 46%;
}

@media screen and (max-width: 567px) {
  .config .config-shape svg {
    width: 100%;
  }
}

.config .config-shape path {
  fill: #f8fbff;
}

.config img {
  width: 85%;
}

@media screen and (max-width: 567px) {
  .config img {
    width: 100%;
  }
}

.config .margin-unlimited {
  margin-top: 200px;
}

@media screen and (max-width: 567px) {
  .config .margin-unlimited {
    margin-top: 0px;
  }
}

.config h2 {
  font-size: 36px;
  color: #3d486a;
  font-weight: 600;
}

.config p {
  font-size: 20px;
  color: #6f7c8a;
}

.config a {
  color: #ff5e8d;
  text-decoration: none;
  font-size: 19px;
  border-bottom: 1px solid #ff5e8d;
}

.config a:hover {
  text-decoration: none;
  color: #ff5e8d;
}
/*# sourceMappingURL=Home.css.map */