
@import 'commonfile';

.testimonial {
    margin-top: 100px;
    h2 {
        @include h2tag;
        &::before {
            content: "";
            position: absolute;
            width: 130px;
            height: 50px;
            border-radius: 40px;
            background-color: #f9dfea;
            left: 44%;
            top: -2%;
            z-index: -1;
            transform: rotate(150deg);

            @media screen and (max-width:567px) {
                width: 110px;
                height: 46px;
                left: 32%;
                top: -18%;
            }
            @media screen and (min-width:600px) and (max-width:993px) {
                width: 110px;
                height: 46px;
                left: 41%;
                top: -2%;
            }
        }
    }
    p{
        @include p1tag;
        width: 60%;
        margin: 45px auto;
        text-align: $textcenter;
        @media screen and (max-width:567px) {
           width: 100%;
        }
        @media screen and (min-width:600px) and (max-width:993px) {
           width: 100%;
        }
   }
   .testimonial-card {
       background:$background;
       box-shadow: 0px 0px 6px -1px grey;;
       padding:30px 20px 59px 20px;
       p{
           margin: 0 auto;
           @include p2tag;
       }
   }
   img{
    width: 20%;
    border-radius: 50%;
    margin-top: -40px;
   }
   .profilename {
       font-size: 1.125rem;
   }
   .profiletag {
      font-size: 0.875rem;
      margin: -8px auto;
   }
}